.idkheader{
background-image: url('https://i.imgur.com/Opjbm3u.gif');
background-position:center;
background-repeat:no-repeat;
background-size:cover;
height:288px;
color:white;
text-align: center;
letter-spacing: 3px;
}
