
.headerimg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/Opjbm3u.gif");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* The navbar */
.topnav {
  overflow: hidden;
  background-color: transparent;
}

/* Navbar links */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: transparent;
  color: white;
}

.headertxt {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer__nav {
 font-size:14px;
 padding:40px 16px
}
@media (min-width: 900px) {
 .footer__nav {
  padding:40px 80px 50px;
  -ms-flex-align:center;
  align-items:center;
  display:-ms-flexbox;
  display:flex
 }
}
.footer__nav-logo {
 display:inline-block;
 padding-right:30px
}
.footer__nav-logo svg {
 display:inline;
 height:28px;
 width:86px
}
@media (min-width: 900px) {
 .footer__nav-links {
  -ms-flex-align:center;
  align-items:center;
  display:-ms-flexbox;
  display:flex
 }
}
.footer__nav-link {
 display:inline;
 line-height:3;
 padding-right:30px;
 white-space:nowrap
}
@media (min-width: 900px) {
 .footer__nav-link {
  -ms-flex-align:center;
  align-items:center;
  display:-ms-flexbox;
  display:flex;
  line-height:1
 }
}
.footer__nav-link a {
 color:#5f6368;
 text-decoration:none
}
.footer__nav-link a:hover {
 text-decoration:underline
}
.footer__nav-help {
 -ms-flex-align:center;
 align-items:center;
 color:#5f6368;
 display:-ms-flexbox;
 display:flex;
 line-height:3;
 padding-right:30px;
 text-decoration:none;
 white-space:nowrap
}
@media (min-width: 900px) {
 .footer__nav-help {
  line-height:1
 }
}
.footer__nav-help:hover {
 text-decoration:underline
}
.footer__nav-help img {
 display:inline-block;
 padding-right:10px
}

html {
  scroll-behavior: smooth;
}

#contact{
	  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4px;
}

.contacttxt {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.container {
  font-size:40px;
  font-family: 'Red Hat Display', sans-serif;
  letter-spacing:1.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:600px;
  height:40px;
}

.container * {
  display:inline-block;
  overflow:hidden;
  position:absolute;
}

.bar {
  width:3px;
  height:49px;
  position:absolute;
  top:-1px;
}
