.idkheader{
background-image: url('https://media2.giphy.com/media/IFdcAnNXLG8Zq/giphy.gif?cid=ecf05e474d44fe7781b44b256f5fce181e80f0de1f263db7&rid=giphy.gif');
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}
